@model HomeViewModel
@{ 
    var totalTasks = Model.TaskItems.Count();

    var totalActiveTasks = Model.TaskItems
                                .Where(taskItem => taskItem.State == TaskItemStates.Active.ToString().ToUpper())
                                .Count();

    var totalCompletedTasks = Model.TaskItems
                                   .Where(taskItem => taskItem.State == TaskItemStates.Completed.ToString().ToUpper())
                                   .Count();
}

<div class="text-center">
    <h4>Dashboard</h4>

    <p class="float-left">
        Total Tasks: @totalTasks&ensp;
        - &ensp;Active: @totalActiveTasks&ensp;
        - &ensp;Completed: @totalCompletedTasks
    </p>

    <div class="float-right">
        <p class="float-left">Filter by:&nbsp;</p>

        @Html.DropDownListFor(m => m.FilterState, Html.GetEnumSelectList(typeof(TaskItemFilterStates)), new { @onchange = "FilterTasks(this.value)" })

        @using (Html.BeginForm("DeleteAll", "Home", FormMethod.Post, new { @class = "task-board-dash-block" }))
        {
            <input type="submit" value="Delete Completed" />
        }
    </div>
</div>