@model HomeViewModel
@{
    var totalActiveTasks = Model.TaskItems
                                .Where(taskItem => taskItem.State == "ACTIVE")
                                .Count();

    var totalCompletedTasks = Model.TaskItems
                                   .Where(taskItem => taskItem.State == "COMPLETED")
                                   .Count();
}

<div class="text-center">
    <h4>Dashboard</h4>

    <p class="float-left">
        Total Tasks: @(totalActiveTasks + totalCompletedTasks)&ensp;
        - &ensp;Active: @totalActiveTasks&ensp;
        - &ensp;Completed: @totalCompletedTasks
    </p>

    <div class="float-right">
        <p class="float-left">Filter by:&nbsp;</p>

        @Html.DropDownListFor(m => m.FilterState, new SelectList(new[] { "All", "Active", "Completed" }), new { @onchange = "FilterTasks(this.value)" })

        @using (Html.BeginForm("DeleteAll", "Home", FormMethod.Post, new { @class = "task-board-dash-block" }))
        {
            <input type="submit" value="Delete Completed" />
        }
    </div>
</div>